In [1]:
# 1.      Which color of shirt is the mean color?
# 2.      Which color is mostly worn throughout the week?
# 3.      Which color is the median?
# 4.      BONUS Get the variance of the colors
# 5.      BONUS if a colour is chosen at random, what is the probability that the color is red?
# 6.      Save the colours and their frequencies in postgresql database
# 7.      BONUS write a recursive searching algorithm to search for a number entered by user in a list of numbers.
# 8.      Write a program that generates random 4 digits number of 0s and 1s and convert the generated number to base 10.
# 9.      Write a program to sum the first 50 fibonacci sequence.

In [2]:
import numpy as np
import pandas as pd

In [3]:
x = pd.read_html('python_class_question.html')

In [4]:
x_table = pd.DataFrame(x[0])

In [5]:
x_table

         DAY                                            COLOURS
0     MONDAY  GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, BLUE,...
1    TUESDAY  ARSH, BROWN, GREEN, BROWN, BLUE, BLUE, BLEW, P...
2  WEDNESDAY  GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, RED, ...
3   THURSDAY  BLUE, BLUE, GREEN, WHITE, BLUE, BROWN, PINK, Y...
4     FRIDAY  GREEN, WHITE, GREEN, BROWN, BLUE, BLUE, BLACK,...

In [6]:
colours = []
for i in range(len(x_table['DAY'])):
    print(x_table['COLOURS'][i])
    colours.append(x_table['COLOURS'][i])
    
        
#colours
#len(x_table['DAY'])

GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, BLUE, YELLOW, ORANGE, CREAM, ORANGE, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, GREEN
ARSH, BROWN, GREEN, BROWN, BLUE, BLUE, BLEW, PINK, PINK, ORANGE, ORANGE, RED, WHITE, BLUE, WHITE, WHITE, BLUE, BLUE, BLUE
GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, RED, YELLOW, ORANGE, RED, ORANGE, RED, BLUE, BLUE, WHITE, BLUE, BLUE, WHITE, WHITE
BLUE, BLUE, GREEN, WHITE, BLUE, BROWN, PINK, YELLOW, ORANGE, CREAM, ORANGE, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, GREEN
GREEN, WHITE, GREEN, BROWN, BLUE, BLUE, BLACK, WHITE, ORANGE, RED, RED, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, WHITE

In [7]:
mid_week_colours = colours[(len(colours)-1)//2]
median_colour = list(mid_week_colours[(len(mid_week_colours)-1)//2])
median_colour = mid_week_colours.split(',')[(len(mid_week_colours.split(','))-1)//2]

In [8]:
median_colour

' RED'

In [91]:
# 9. FIBONACCI
range_ = 50
lxt = [0,1]
for n in range(1,range_-1):
    next_num = lxt[-1]+lxt[n-1]
    n+=1
        
    lxt.append(next_num)
        
print(lxt)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]

In [98]:
colours[:]

['GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, BLUE, YELLOW, ORANGE, CREAM, ORANGE, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, GREEN',
 'ARSH, BROWN, GREEN, BROWN, BLUE, BLUE, BLEW, PINK, PINK, ORANGE, ORANGE, RED, WHITE, BLUE, WHITE, WHITE, BLUE, BLUE, BLUE',
 'GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, RED, YELLOW, ORANGE, RED, ORANGE, RED, BLUE, BLUE, WHITE, BLUE, BLUE, WHITE, WHITE',
 'BLUE, BLUE, GREEN, WHITE, BLUE, BROWN, PINK, YELLOW, ORANGE, CREAM, ORANGE, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, GREEN',
 'GREEN, WHITE, GREEN, BROWN, BLUE, BLUE, BLACK, WHITE, ORANGE, RED, RED, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, WHITE']

In [126]:
# 2. MOST WORN COLOUR IS BLUE, # 1. Mean colour is BLUE
import collections
#collections.Counter(x_table['COLOURS'][0])
for i in range(5):
    x = collections.Counter(x_table['COLOURS'][i].split(','))
    print(x)

Counter({' BLUE': 6, ' YELLOW': 2, ' GREEN': 2, ' ORANGE': 2, ' WHITE': 2, 'GREEN': 1, ' BROWN': 1, ' PINK': 1, ' CREAM': 1, ' RED': 1})
Counter({' BLUE': 6, ' WHITE': 3, ' BROWN': 2, ' PINK': 2, ' ORANGE': 2, 'ARSH': 1, ' GREEN': 1, ' BLEW': 1, ' RED': 1})
Counter({' BLUE': 5, ' RED': 3, ' WHITE': 3, ' YELLOW': 2, ' ORANGE': 2, 'GREEN': 1, ' GREEN': 1, ' BROWN': 1, ' PINK': 1})
Counter({' BLUE': 6, ' WHITE': 3, ' GREEN': 2, ' ORANGE': 2, 'BLUE': 1, ' BROWN': 1, ' PINK': 1, ' YELLOW': 1, ' CREAM': 1, ' RED': 1})
Counter({' BLUE': 6, ' WHITE': 5, ' RED': 3, 'GREEN': 1, ' GREEN': 1, ' BROWN': 1, ' BLACK': 1, ' ORANGE': 1})

In [19]:
# 8. Generate random binary numbers and convert to base 10

# Python program for random 
# binary string generation 
  
import random 
import math
  
# Function to create the 
# random binary string 
def rand_key(p): 
    
    # Variable to store the  
    # string 
    key1 = "" 
  
    # Loop to find the string 
    # of desired length 
    for i in range(p): 
          
        # randint function to generate 
        # 0, 1 randomly and converting  
        # the result into str 
        temp = str(random.randint(0, 1)) 
  
        # Concatenatin the random 0, 1 
        # to the final result 
        key1 += temp 
          
    return(key1) 
  
# Driver Code 
p = 4
b = rand_key(p) 
print(" The binary number is : ", b) 


def bin2dec(b):
    number = 0
    for idx, num in enumerate(b[::-1]): # Iterating through b in reverse order
        number += int(num)*(2**idx)

    return number

 The binary number is :  0001

In [20]:


def bin2dec(b):
    number = 0
    for idx, num in enumerate(b[::-1]): # Iterating through b in reverse order
        number += int(num)*(2**idx)

    return number

In [21]:
bin2dec(b)

1